/**
 *
 * You can write your CSS code here, DO NOT touch the default JavaScript file
 * because it will make it harder for you to update.
 * 
 */

/*# sourceMappingURL=custom.css.map */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1bcc90;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #04af75;
}

.btn-main {
  color: #fff;
  background-color: #1bcc90;
  border-color: #1bcc90;
  box-shadow: 0 2px 6px #76d396;
}

.btn-main:hover,
.btn-main:focus,
.btn-main:active {
  color: #fff !important;
  border-color: #04af75 !important;
  background-color: #04af75 !important;
}

.bg-main {
  background-color: #33d9b2 !important;
}

.shadow-main {
  box-shadow: 0 2px 6px #a8f5b4;
}

.swal-button--danger {
  background-color: #e64942 !important;
}

.section .section-title:before {
  background-color: #1bcc90 !important;
}

.select2-container.select2-container--focus .select2-selection--multiple,
.select2-container.select2-container--focus .select2-selection--single {
  background-color: #fefeff;
  border-color: #1bcc90;
}

.select2-container.select2-container--open .select2-selection--single {
  background-color: #fefeff;
  border-color: #1bcc90;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--default .select2-results__option[aria-selected="true"],
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #1bcc90;
  color: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__arrow,
.select2-container--default .select2-selection--single .select2-selection__arrow {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 25px;
  min-height: 42px;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  padding-right: 0.5em;
}

/* .selectgroup-button {
    height: 42px;
} */

.selectgroup-input:focus + .selectgroup-button,
.selectgroup-input:checked + .selectgroup-button {
  background-color: #1bcc90;
  color: #fff;
  z-index: 1;
}

.custom-switch {
  padding-left: 0rem;
}

.custom-switch-input:checked ~ .custom-switch-indicator {
  background: #1bcc90;
}

.custom-switch-input:focus ~ .custom-switch-indicator {
  border-color: #1bcc90;
}

.page-item .page-link {
  color: #1bcc90;
  border-radius: 1rem !important;
  margin: 0 3px;
}

.page-link:hover {
  background-color: #1bcc90;
  color: #fff;
  border-color: transparent;
  border-radius: 1rem !important;
}

.swal-button--confirm {
  box-shadow: 0 2px 6px #acb5f6;
  background-color: #1bcc90;
}

.custom-radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.custom-radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.custom-radio-container input:checked ~ .checkmark {
  background-color: #1bcc90;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-radio-container input:checked ~ .checkmark:after {
  display: block;
}

.custom-radio-container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.navbar-bg {
  background-color: #33d9b2 !important;
}

.btn-success {
  background-color: #33d9b2 !important;
}

.btn-success:hover {
  background-color: #00a46d !important;
}

.page-item.active .page-link {
  color: #ffffff !important;
  background-color: #33d9b2 !important;
  border-color: #00d992 !important;
  border-radius: 1rem;
}

.page-item.disabled .page-link {
  color: #009b68 !important;
}

.breadcrumb-item a {
  color: #00be7c !important;
}

/* 
.main-sidebar .sidebar-menu li.dropdown.active a.nav-link {
    color: #009b68 !important;
} */

.main-sidebar .sidebar-menu li ul.dropdown-menu li.active > a {
  color: #33d9b2 !important;
}

.main-sidebar .sidebar-menu li.dropdown.active a.has-dropdown {
  color: #ffffff !important;
  font-weight: 600;
  background-color: #33d9b2 !important;
  border-radius: 8px;
}

.sidebar-brand {
  padding-top: 1rem;
  height: auto !important;
}

.sidebar-brand img {
  max-height: 5rem;
}

.sidebar-brand-sm img {
  max-height: 3rem;
}

.sidebar-brand a {
  font-weight: 900 !important;
  font-size: 1.4rem !important;
}

body:not(.sidebar-mini) .sidebar-style-2 .sidebar-menu > li.active > a:before {
  background-color: #ffffff !important;
}

.modal-body,
.modal-header {
  /* border-bottom: 1px solid #d3d3d3 !important; */
  padding: 1rem 1rem 0.7rem 1rem !important;
}

.card .card-header .btn:not(.note-btn) {
  border-radius: 5px !important;
}

.text-invalid {
  color: #c70000;
  font-size: 13px;
}

.alert.alert-success {
  background-color: #33d9b2 !important;
}

.page-item .page-link:hover {
  background-color: #33d9b2 !important;
  border-color: #00d992 !important;
  color: #ffffff !important;
  border-radius: 1rem !important;
}

.page-item.previous .page-link:hover,
.page-item.next .page-link:hover {
  border-radius: 1rem !important;
}

.main-sidebar .sidebar-menu li ul.dropdown-menu li a:hover {
  color: #33d9b2 !important;
}

body:not(.sidebar-mini) .sidebar-style-2 .sidebar-menu li.active ul.dropdown-menu li a {
  padding-left: 2.5rem !important;
}

li.active a.nav-link.self {
  color: #ffffff !important;
  font-weight: 600;
  background-color: #33d9b2 !important;
  border-radius: 8px;
}

span.is-invalid {
  border-color: #dc3545 !important;
}

@media screen and (max-width: 767px) {
  li.paginate_button {
    display: none;
  }
  li.paginate_button.previous,
  li.paginate_button.next,
  li.paginate_button.active,
  li.paginate_button.disabled {
    display: inline;
  }
  div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: center !important;
  }
}

#form-password .input-group > .input-group-append > .input-group-text > i:hover {
  cursor: pointer;
}

.activities .activity:before {
  content: " ";
  position: absolute;
  left: 25px;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: #98a6ad !important;
}

.swal-button.swal-button--disabled {
  cursor: not-allowed !important;
  pointer-events: none !important;
}

.progress {
  height: 2em !important;
}
